.header {
  width: 86%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;

  .nav {
    .menu {
      padding-top: 1rem;
      padding-left: 2rem;
      align-items: center;

      .menu-section {
        text-align: right;

        a {
          text-decoration: none;
          color: $blue;
          margin: 0 0.5rem;
          font-size: 1.2rem;
          vertical-align: baseline;
          white-space: nowrap;

          &:hover{
            color: $sky;
          }

          .svg {
            width: 1.2rem;
            fill: $purple;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 960px) {
  .header {
    display: block;

    .logo {
      display: block;

      img {
        margin: 0 auto;
      }
    }

    .nav {
      .menu {
        .menu-section {
          text-align: center;
        }
      }
    }
  }
}


@media screen and (max-width: 767px) {
  .header {
    .nav {
      .menu {
        padding-top: 1rem;
        padding-left: 0;
      }
    }
  }
}
