.page-blog {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4rem;

    .post {
      padding: 1rem;
      border: 1px solid rgb(240, 240, 240);
      box-shadow: 2px 3px 5px rgb(240, 240, 240);

      .post-title {
        a {
          color: $purple;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .post-tiny {
      box-shadow: 3px 3px 5px rgb(245, 245, 245);
    }
  }
}

@media screen and (max-width: 767px) {
  .page-blog {
    .container {
      grid-template-columns: 1fr;
    }
  }
}
